.name {
    height: 500px;
    border-radius: 50px;
    padding: 12px;
    margin: 0px 0px 0px -12px;
    background: linear-gradient(
      70deg,
      rgb(83, 241, 62) 0%,
      rgb(95, 227, 250) 33%,
      rgb(223, 238, 241) 100%
    );
}
